body {
    margin: 0 auto;
    padding: 0;
    background-image: url("../img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 1600px;
    height: 900px;
}

article.main-container {
    text-align: center;
}

article.main-container .orange {
    color: #f1ad1d;
}

article.main-container h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 20px 0;
    margin: 0;
}

article.main-container h4 {
    font-size: 1.3rem;
    margin: 0 auto;
    width: 272px;
    line-height: 56px;
    color: white;
    background-color: #333333;
}

article.main-container h5 {
    font-size: 1.1rem;
    font-weight: 500;
}

article.main-container img{
    margin: 30px;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

article.main-container div {
    font-size: 1.1rem;
}

article.main-container div.orange-underline {
    width: 60px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #f1ad1d;
    margin: 40px auto;
}

article.main-container ul {
    list-style: none;
    padding: 0;
}

article.main-container section {
    width: 272px;
    display: inline-block;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 1178px;
    justify-content: space-between;
    margin: 0 auto;
}

article.main-container div.gray-underline {
    width: 270px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #333333;
    margin: 35px auto;
}